
*{
    color: #1687a7;
}
nav{
    font-size: 16px;
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

/* .navbar-nav .navbar-btn:hover{
    background-color: #1687a7;
    color: white;
} */
navbar-nav .navbar-btn > a {
    color: #FFF;
}

.btn-lg:hover{
    background-color: white;
    color: #1687a7;
}